/* body background styling */
body{
	background-color:white;
    background-size:100%;
    height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.main section  {
   overflow: hidden;
}

/* page wrapper - important */
.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* ============================================================================= */
/* UNIVERSAL PAGE STYLING */
.page-content{
	position:relative;
	color:white
}

.page-content h1{
	font-family: "Open Sans", sans-serif;
	font-size: 100px;
	margin-left:17.5%;
	margin-top:-31%;
}

#page-number{
	font-family: "Julius Sans One", serif;
	font-size: 118px;
	float: right;
	margin-top:-17%;
	margin-right:5%;
}

.page-content h2{
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	margin-left:18.5%;
	margin-top:.5%;
}

.page-content button {
	background: none;
	border:none;
	margin-left:18%;
	margin-top:3%;
	
}

.page-content button a{
	list-style-type: none;
	text-decoration: none;
	border:1px solid white;
	background: white;
	font-family: "Raleway", sans-serif;
	font-size: 22px;
	color:#07675C;
	text-align: center;
	padding: 10px 15px;
	transition: ease-in-out .4s;

}

.page-content button a:hover{
	transition: ease-in-out .4s;
	background:none;
	border:1px solid white;
	color:white;
	cursor: pointer;

}

.page_container img{
	position: relative;
	width:75%;
	margin-left:12.5%;
	margin-right:12.5%;
	margin-top:8%;
}

/* ============================================================================= */

/* section 1 styling */
.page1{
	background-image:url("../images/image1.jpg");
	background-size:cover;
	background-repeat: no-repeat;
    height: 100%;
}

/* hide media images */
.page1 #image1-media, .page1 #image1-phone{
	display: none;
}

/* --------------------------------------------- */
/* page 2 styling */
.page2{
	background-image:url("../images/image2.jpg");
	background-size:cover;
	height: 105%;
	background-repeat: no-repeat;
}

.page2 button a{
	color:#304A65;
}

/* hide media images */
.page2 #image2-media, .page2 #image2-phone{
	display: none;
}

/* --------------------------------------------- */
/* page 3 styling */
.page3{
	background-image:url("../images/image3.jpg");
	background-size:cover;
	background-repeat: no-repeat;
    height: 100%;
}

.page3 button a{
	color:#072B55;
}

/* hide media images */
.page3 #image3-media, .page3 #image3-phone{
	display: none;
}

/* --------------------------------------------- */
.page2 #page-number, .page3 #page-number{
	margin-right:3.5%;
	font-size: 110px;
	margin-top:-17%;
}




/* ---------------------------------------------------------------------------- */
/* MEDIA QUERIES -------------------------------------------------------------- */
/* TABLETS */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

	.page-content h1{
		font-size: 120px;
		text-align:center;
		margin-left:-.5%;
		margin-top:-76%;
	}

	#page-number{
		font-size: 140px;
		margin-top:-25%;
		margin-right:42%;
	}

	.page-content h2{
		font-size: 50px;
		text-align:center;
		width:75%;
		margin-left:12%;
		margin-top:2.5%;
	}

	.page-content button {
		background: none;
		border:none;
		margin-left:35%;
		margin-top:7%;
	}

	.page-content button a{
		font-size: 30px;
		padding: 20px 25px;
		transition: ease-in-out .4s;
	}

	.page_container img{
		position: relative;
		width:75%;
		margin-left:12.5%;
		margin-right:12.5%;
		margin-top:10%;
	}

	/* ====================================================== */
	/* hide web images */
	.page1 #image1-top, .page1 #image1-phone{
		display: none;
	}

	/* dispaly media images */
	.page1 #image1-media{
		display: initial;
	}

	/* --------------------------------------------- */
	/* hide web images */
	.page2 #image2-top, .page2 #image2-phone{
		display: none;
	}

	/* dispaly media images */
	.page2 #image2-media{
		display: initial;
	}
	/* --------------------------------------------- */
	/* hide web images */
	.page3 #image3-top, .page3 #image3-phone{
		display: none;
	}

	/* dispaly media images */
	.page3 #image3-media{
		display: initial;
	}

	/* --------------------------------------------- */
	.page2 #page-number, .page3 #page-number{
		font-size: 140px;
		margin-top:-25%;
		margin-right:40%;
	}

	.page3 button {
		margin-left:40%;
	}

}



/* MOBILE DEVICES */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
  and (orientation: portrait) {

  	.page-content h1{
		font-size: 120px;
		text-align:center;
		margin-left:-.5%;
		margin-top:-85%;
	}

	#page-number{
		font-size: 140px;
		margin-top:-35%;
		margin-right:42%;
	}

	.page-content h2{
		font-size: 50px;
		text-align:center;
		width:75%;
		margin-left:12%;
		margin-top:2.5%;
	}

	.page-content button {
		background: none;
		border:none;
		margin-left:35%;
		margin-top:7%;
	}

	.page-content button a{
		font-size: 30px;
		padding: 20px 25px;
		transition: ease-in-out .4s;
	}

	.page_container img{
		position: relative;
		width:75%;
		margin-left:12.5%;
		margin-right:12.5%;
		margin-top:23%;
	}

	/* ======================================================= */
	/* hide web images */
	.page1 #image1-top, .page1 #image1-media{
		display: none;
	}

	/* dispaly media images */
	.page1 #image1-phone{
		display: initial;
	}

	/* --------------------------------------------- */
	/* hide web images */
	.page2 #image2-top, .page2 #image2-media{
		display: none;
	}

	/* dispaly media images */
	.page2 #image2-phone{
		display: initial;
	}
	/* --------------------------------------------- */
	/* hide web images */
	.page3 #image3-top, .page3 #image3-media{
		display: none;
	}

	/* dispaly media images */
	.page3 #image3-phone{
		display: initial;
	}

	/* --------------------------------------------- */
	.page2 #page-number, .page3 #page-number{
		font-size: 140px;
		margin-top:-25%;
		margin-right:40%;
	}

	.page3 button {
		margin-left:40%;
	}


}

